<header>
  <div class="header-content">
    <img src="/images/acb_logo.svg" alt="ACB Logo" class="logo">
    <h1 class="app-title">ACB - A Capital Gains Calculator For Canadians</h1>
  </div>
  <div class="nav-links">
    <a href="https://github.com/tsiemens/acb/wiki" class="nav-link">Documentation</a>
    <a href="https://github.com/tsiemens/acb/wiki/FAQ" class="nav-link">FAQ</a>

    <div class="user-actions" style="display: none;">
      <button id="debugSettingsButton" class="btn btn-secondary">Debug Settings</button>

      <div id="debugSettingsPanel" class="debug-panel" hidden>
        <h4>Debug Settings</h4>
        <button id="generateGithubOpenIssuesButton" class="btn btn-primary btn-debug">Generate GitHub Open Issues Warning</button>
        <button id="generateGithubFetchErrorButton" class="btn btn-primary btn-debug">Generate GitHub Fetch Error</button>
        <div class="checkbox-container">
          <input type="checkbox" id="debugAutoloadCheckbox">
          <label for="debugAutoloadCheckbox">Auto-Run On Load</label>
        </div>
      </div>

    </div>
  </div>
</header>