<div class="main-content">
  <div class="main-content-files-and-buttons">

  <div id="fileDropAreaApp"></div>

  <div id="appInputControlsApp"></div>

  <div class="action-buttons">
    <div id="splitRunButtonApp"></div>
  </div>

  </div> <!-- class="main-content-files-and-buttons" -->

  <div class="separator"></div>

  <div id="mainErrorContainer"></div>

  <div id="outputAreaApp"></div>
</div>